In [1]:
import yfinance as yf
import numpy as np

In [11]:
# Define the ticker symbol and download historical data
ticker_symbol = "AAPL"
start_date = "2023-01-01"
end_date = "2023-12-31"
stock_data = yf.download(ticker_symbol, start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed

In [26]:
# Calculate the daily returns
stock_data["Daily_Return"] = stock_data["Adj Close"].pct_change().dropna()

# Calculate the mean and standard deviation of daily returns
mean_return = stock_data["Daily_Return"].mean()
std_dev = stock_data["Daily_Return"].std()

In [27]:
stock_data.dropna()

,Open,High,Low,Close,Adj Close,Volume,Daily_Return
Date,,,,,,,
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.823189,89113600,0.010314
2023-01-05,127.129997,127.769997,124.760002,125.019997,124.488876,80962700,-0.010605
2023-01-06,126.010002,130.289993,124.889999,129.619995,129.069321,87754700,0.036794
2023-01-09,130.470001,133.410004,129.889999,130.149994,129.597061,70790800,0.004089
2023-01-10,130.259995,131.259995,128.119995,130.729996,130.174606,63896200,0.004456
...,...,...,...,...,...,...,...
2023-10-19,176.039993,177.839996,175.190002,175.460007,175.460007,59302900,-0.002161
2023-10-20,175.309998,175.419998,172.639999,172.880005,172.880005,64189300,-0.014704
2023-10-23,170.910004,174.009995,169.929993,173.000000,173.000000,55980100,0.000694
2023-10-24,173.050003,173.669998,171.449997,173.440002,173.440002,43816600,0.002543
2023-10-25,171.880005,173.059998,170.649994,171.100006,171.100006,53296996,-0.013492

In [28]:
# Specify the risk-free rate (e.g., U.S. Treasury yield)
risk_free_rate = 0.049  # 1%

# Calculate the Kelly Criterion fraction
kelly_fraction = (mean_return - risk_free_rate) / (std_dev ** 2)

In [29]:
kelly_fraction

-277.2370554173527

In [30]:
# Calculate the optimal fraction of capital to invest
optimal_fraction = kelly_fraction
if optimal_fraction < 0:
    optimal_fraction = 0  # Avoid negative fractions

# Total capital available for trading
total_capital = 10000  # $10,000

# Calculate the capital to allocate to the trade
capital_to_allocate = optimal_fraction * total_capital

In [25]:
# Output the optimal fraction and capital to allocate
print(f"Optimal Fraction (Kelly Criterion): {optimal_fraction:.4f}")
print(f"Capital to Allocate: ${capital_to_allocate:.2f}")

Optimal Fraction (Kelly Criterion): 0.5796
Capital to Allocate: $5796.19